body {
    background-image: url(Christmas\ Background.jpeg);
    background-position: center;   
}

#countdown-timer {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
    text-shadow: -2px 2px 5px black;
    font-weight: bolder;
    font-size: 170px;
    margin-bottom: 0;
    margin: 0;
    margin-top: -6px;
}

.timer-span {
    font-size: 170px;
}

#units {
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS';
    text-shadow: -2px 2px 5px black;
    text-align: center;
    margin: 0;
}

#hours, #minutes, #days, #seconds {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 250px;
}

#days-ind, #minutes-ind, #seconds-ind, #hours-ind {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 60px;
}

#main-header {
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
    text-shadow: -2px 2px 5px black;
    font-size: 8em;
    margin: 0;
    margin-top: 35px;
}

hr {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 7px;
}

/* customizable snowflake styling */
.snowflake {
color: #fff;
font-size: 5em;
font-family: Arial, sans-serif;
text-shadow: 0 0 5px #000;
}

#button-dialog {
background-image: linear-gradient(to right, red, maroon);
overflow: auto;
margin: auto;
border-radius: 5px;
height: 500px;
}

#music-options {
color: white;
font-family: 'Trebuchet MS';
text-shadow: -1px 2px 5px black;
margin: 0;
}

#error-message {
color: red;
font-family: 'Trebuchet MS'
}

#music-button {
    margin-left: auto;
    margin-right: auto;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}
